{% extends 'main.html' %}

{% block content %}
<style>
  .profile-component{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
  }
</style>
  <img src="{{ request.user.avatar.url }}" width='80' height='80' />
  <h3>Hello {{ user.username }}</h3>
  <a href="{% url 'update-user' %}">Update profile</a>
  <div class="profile-component">
    <div>
      {% include 'base/topics_component.html' %}
    </div>
    <div>
      {% include 'base/feed_component.html' %}
    </div>
    <div>
      {% include 'base/activity_component.html' %}
    </div>
  </div>
  
{% endblock content %}